/* */

html {
  font-size: 16px;

  --a4-wid: 52.5rem; /* 840px -> 40px/cm */
  --a4-hei: calc(52.5rem * (29.69 / 21));
  --a4-mar: 4.375rem;
}

/* */

body,
body * {
  box-sizing: border-box;
}

body style,
body script {
  display: none;
}

/* */

body {
  all: unset;
  background: #f8f8fa;

  overflow: hidden scroll;
  overflow: hidden overlay;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: #ffffff;
  background: #191919;
  text-decoration: none;
}

/* */

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  grid-auto-flow: row;
  gap: 1.25rem;
  padding: 2rem 3rem 40vh;
}

/*main {
        width: calc(100vw - 20rem);
        margin-left: 20rem;
      }*/

/* */

nav {
  position: fixed;
  inset: 0rem auto 0rem 0rem;

  display: grid;
  grid-auto-flow: row;
  grid-gap: 1.25rem;
  grid-template-columns: 3.125rem 1fr;

  width: 20rem;
  margin: 5rem 0rem 0rem 0rem;
  padding: 1.25rem 0rem 0rem 0rem;
}

nav > div {
  display: flex;
  flex-direction: column;
  grid-gap: 0.625rem;
  align-items: center;
}

/* */

header {
  display: flex;
  justify-content: space-between;

  height: 3.125rem;
  width: var(--a4-wid);

  padding: 0rem 1.25rem;
  margin-bottom: -1.25rem;
}

header > div {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 0.625rem;
}
header > div:first-child {
  justify-content: start;
}
header > div:last-child {
  justify-content: end;
}

header::after {
  content: '';

  position: fixed;
  inset: 0rem 0rem auto 0rem;

  height: 0.625rem;

  -webkit-app-region: drag;
  app-region: drag;
}

/* */

section {
  z-index: 10;

  display: flex;
  flex-direction: column;

  width: var(--a4-wid);
  height: var(--a4-hei);

  background: #fcfcfc;
  border-radius: 0.125rem;
  outline: 1px solid rgb(0 0 0 / 5%);

  padding: var(--a4-mar);

  box-shadow: 0 1px 0 0.5px rgb(22 29 37 / 5%);
}

/* */

button {
  all: unset;

  display: flex;
  flex-direction: row;
  grid-gap: 0.3125rem;
  align-items: center;

  height: 1.875rem;
  padding: 0rem 0.3125rem;

  border-radius: 0.125rem;

  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

button:focus-visible,
button:hover {
  background: #ededf1;
}
button:active {
  background: #ebebef;
}

.button-text {
  all: unset;

  font-family: 'Breeze Sans';
  font-variant-numeric: proportional-nums;
  line-height: 1em;
  margin: -0.22ex -0.15ch;
  padding: 0rem 0.3125rem;

  font-size: 0.875rem;
  color: #4d4d4d;
}

.button-icon {
  color: #4d4d4d;
}
.button-icon > svg {
  height: 20px;
  width: 20px;
}

/* */

@page {
  margin: 0rem 0rem;
}

@media print {
  html {
    font-size: calc(1cm / 40 * 16);
  }

  body,
  body > main {
    padding: 0rem 0rem;
  }

  body,
  body > main,
  body > main > section {
    margin: 0rem 0rem;

    background: white;
    border-radius: none;
    outline: none;
    box-shadow: none;
  }

  main {
    gap: 0rem;
    width: var(--a4-wid);
  }

  header,
  nav {
    display: none;
  }
}
