/* */

html {
  font-size: 16px;

  --a4-wid: 52.5rem; /* 840px -> 40px/cm */
  --a4-hei: calc(52.5rem * (29.69 / 21));
  --a4-mar: 4.375rem 4.375rem;
}

/* */

body,
body * {
  box-sizing: border-box;
}

body style,
body script {
  display: none;
}

/* */

body {
  all: unset;
  background: #f8f8fa;

  overflow: hidden scroll;
  overflow: hidden overlay;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: #ffffff;
  background: #191919;
  text-decoration: none;
}

/* */

main {
  display: grid;
  justify-content: center;

  grid-auto-flow: row;
  gap: 1.25rem;
  padding: 0rem 1.25rem 1.25rem;

  margin: 2rem 0rem 3.125rem;
}

/*main {
        width: calc(100vw - 20rem);
        margin-left: 20rem;
      }*/

/* */

nav {
  position: fixed;
  inset: 0rem auto 0rem 0rem;

  display: grid;
  grid-auto-flow: row;
  grid-gap: 1.25rem;
  grid-template-columns: 3.125rem 1fr;

  width: 20rem;

  margin-top: calc(3.125rem * 2);
}

nav > div {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1.25rem;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  justify-content: center;
}

/* */

header {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  justify-content: center;

  height: 3.125rem;
  padding: 0rem 1.25rem;
  margin-bottom: -1.25rem;
}

header > div {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 1.25rem;
}
header > div:first-child {
  justify-content: start;
}
header > div:last-child {
  justify-content: end;
}

header::after {
  content: '';

  position: fixed;
  inset: 0rem 0rem auto 0rem;

  height: 0.625rem;

  -webkit-app-region: drag;
  app-region: drag;
}

/* */

section {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);

  width: var(--a4-wid);
  height: var(--a4-hei);

  background: #fcfcfc;
  border-radius: 0.125rem;
  outline: 1px solid #e9e9e9;

  padding: var(--a4-mar);

  box-shadow: 0 1px 0 0.5px rgb(22 29 37 / 5%);
}

/* */

@page {
  margin: 0rem 0rem;
}

@media print {
  html {
    font-size: calc(1cm / 40 * 16);
  }

  body,
  body > main {
    padding: 0rem 0rem;
  }

  body,
  body > main,
  body > main > section {
    margin: 0rem 0rem;

    background: white;
    border-radius: none;
    outline: none;
    box-shadow: none;
  }

  main {
    gap: 0rem;
    width: var(--a4-wid);
  }

  header,
  nav {
    display: none;
  }
}
