@import url('./scheme-color.css');
@import url('./scheme-types.css');
@import url('./scheme.css');

@import url('./node-banner.css');
@import url('./node-reader.css');

/* */

html {
  font-size: 16px;

  --cm: 2.5rem; /* 40px/cm */

  --paper-wid: 52.5rem; /* 840px */
  --paper-ratio: 21 / 29.7;
  --paper-pad: 4.375rem;
  --paper-mar: 0.5rem;
  --paper-gut: 1.5rem;
  --paper-shadow: 0 0.5px 2px 1px rgb(0 0 0 / 8%);

  --type: #363636;

  --modal-ground: rgb(0 0 0 / 23%);
  --modal-shadow: 0 0 2px 4px rgb(0 0 0 / 3%);

  --banner-hei: 14.5rem;

  accent-color: #d75e63;
}

/* */

body,
body * {
  box-sizing: border-box;
}

body style,
body script {
  display: none;
}

/* */

body {
  all: unset;
  background: #f8f8fa;

  display: flex;
  flex-direction: column;

  overflow: hidden scroll;
  overflow: hidden overlay;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: #ffffff;
  background: #191919;
  text-decoration: none;
}

/* */

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: var(--paper-gut);
  margin: 0rem 0rem var(--banner-hei) 0rem;
  padding: 3rem 0rem 3rem;

  overflow: visible;
}

/* */

@page {
  margin: 0rem 0rem;
}

@media print {
  html {
    font-size: calc(1cm / 40 * 16);
  }

  body,
  body > main {
    padding: 0rem 0rem;
  }

  body,
  body > main,
  body > main > section {
    margin: 0rem 0rem;

    background: white;
    border-radius: none;
    outline: none;
    box-shadow: none;
  }

  main {
    gap: 0rem;
    width: var(--a4-wid);
  }

  header,
  nav {
    display: none;
  }
}
