@import url('./scheme-color.css');
@import url('./scheme-types.css');
@import url('./scheme.css');

/* */

html {
  font-size: 16px;

  --cm: 2.5rem; /* 40px/cm */

  --a4-wid: 52.5rem; /* 840px -> 40px/cm */
  --a4-hei: calc(52.5rem * (29.69 / 21));
  --a4-mar: 4.375rem;

  --c: #363636;
  --srim: rgb(0 0 0 / 23%);
}

/* */

body,
body * {
  box-sizing: border-box;
}

body style,
body script {
  display: none;
}

/* */

body {
  all: unset;
  background: #f8f8fa;

  display: grid;
  grid-template-columns: 4rem calc(100vw - 8rem) 4rem;

  overflow: hidden scroll;
  overflow: hidden overlay;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: #ffffff;
  background: #191919;
  text-decoration: none;
}

/* */

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 1.875rem;
  padding: 2rem 0rem 40vh;

  overflow: visible;
}

/*main {
        width: calc(100vw - 20rem);
        margin-left: 20rem;
      }*/

/* */

nav {
  position: sticky;
  top: -3.5rem;
  align-self: start;

  flex: none;
  display: flex;
  flex-direction: column;
  grid-gap: 0.625rem;
  align-items: center;

  width: 4rem;
  height: calc(100vh + 3.5rem);

  margin: 1rem 0rem 0rem 0rem;
  padding: 4rem 0rem 0.5rem;

  overflow: hidden auto;
  overflow: hidden overlay;
}
nav > div {
  flex: none;

  display: flex;
  flex-direction: column;
  grid-gap: 0.625rem;
  align-items: center;
}

/* */

section {
  max-width: 100% !important;

  z-index: 10;

  flex: none;
  display: flex;
  flex-direction: column;

  width: var(--a4-wid);
  height: var(--a4-hei);

  background: #fcfcfc;
  border-radius: 0.125rem;
  outline: 1px solid rgb(0 0 0 / 5%);

  padding: var(--a4-mar);

  box-shadow: 0 1px 0 0.5px rgb(22 29 37 / 5%);
}

/* */

.button,
.button-nav {
  all: unset;

  flex: none;
  display: flex;
  flex-direction: row;
  grid-gap: 0.3125rem;
  align-items: center;
  justify-content: center;

  height: 1.875rem;
  padding: 0rem 0.3125rem;

  border-radius: 0.125rem;

  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.button-nav {
  height: 3rem;
  width: 3rem;

  padding: 0rem;
  margin: 0rem;

  border-radius: 0.5rem;
}

.button:focus-visible,
.button:hover,
.button-nav:focus-visible,
.button-nav:hover {
  background: #f1f1f4;
}
.button:active,
.button-nav:active {
  background: #ebebef;
}

.button-text {
  all: unset;

  font-family: 'Breeze Sans';
  font-variant-numeric: proportional-nums;
  line-height: 1em;
  margin: -0.22ex -0.15ch;
  padding: 0rem 0.3125rem;

  font-size: 0.875rem;
  color: #404041;
}

.button-nav .button-text {
  padding: 0.3125rem 0.3125rem 0rem 0.3125rem;

  font-size: 0.75rem;
  color: #636364;
}

.button-icon {
  color: #404041;
}
.button-icon > svg {
  height: 1.375rem;
  width: 1.375rem;
  margin: -0.0625rem;
}

.button[disabled],
.button[disabled] *,
.button-nav[disabled],
.button-nav[disabled] * {
  color: #b3b3b4 !important;
  pointer-events: none;
}

/* */

@page {
  margin: 0rem 0rem;
}

@media print {
  html {
    font-size: calc(1cm / 40 * 16);
  }

  body,
  body > main {
    padding: 0rem 0rem;
  }

  body,
  body > main,
  body > main > section {
    margin: 0rem 0rem;

    background: white;
    border-radius: none;
    outline: none;
    box-shadow: none;
  }

  main {
    gap: 0rem;
    width: var(--a4-wid);
  }

  header,
  nav {
    display: none;
  }
}
