.node.banner {
  display: flex;
  flex: none;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 0rem 1.25rem;

  height: var(--banner-hei);
  width: 100%;
  opacity: var(--banner-vis);
}
